/DevToysMongoDbExtension/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/DevToysMongoDbExtension/obj/Debug/net8.0/DevToysMongoDbExtension.AssemblyInfo.cs
/DevToysMongoDbExtension/obj/Debug/net8.0/DevToysMongoDbExtension.AssemblyInfoInputs.cache
/DevToysMongoDbExtension/obj/Debug/net8.0/DevToysMongoDbExtension.assets.cache
/DevToysMongoDbExtension/obj/Debug/net8.0/DevToysMongoDbExtension.csproj.AssemblyReference.cache
/DevToysMongoDbExtension/obj/Debug/net8.0/DevToysMongoDbExtension.csproj.CoreCompileInputs.cache
/DevToysMongoDbExtension/obj/Debug/net8.0/DevToysMongoDbExtension.csproj.FileListAbsolute.txt
/DevToysMongoDbExtension/obj/Debug/net8.0/DevToysMongoDbExtension.csproj.GenerateResource.cache
/DevToysMongoDbExtension/obj/DevToysMongoDbExtension.csproj.nuget.dgspec.json
/DevToysMongoDbExtension/obj/DevToysMongoDbExtension.csproj.nuget.g.props
/DevToysMongoDbExtension/obj/DevToysMongoDbExtension.csproj.nuget.g.targets
/DevToysMongoDbExtension/bin/Debug/net8.0/DevToysMongoDbExtension.deps.json
/DevToysMongoDbExtension/obj/Debug/net8.0/DevToysMongoDbExtension.DevToysMongoDbExtension.resources
/DevToysMongoDbExtension/bin/Debug/net8.0/DevToysMongoDbExtension.dll
/DevToysMongoDbExtension/obj/Debug/net8.0/ref/DevToysMongoDbExtension.dll
/DevToysMongoDbExtension/obj/Debug/net8.0/refint/DevToysMongoDbExtension.dll
/DevToysMongoDbExtension/obj/Debug/net8.0/DevToysMongoDbExtension.dll
/DevToysMongoDbExtension/obj/Debug/net8.0/DevToysMongoDbExtension.GeneratedMSBuildEditorConfig.editorconfig
/DevToysMongoDbExtension/obj/Debug/net8.0/DevToysMongoDbExtension.genruntimeconfig.cache
/DevToysMongoDbExtension/obj/Debug/net8.0/DevToysMongoDbExtension.GlobalUsings.g.cs
/DevToysMongoDbExtension/bin/Debug/net8.0/DevToysMongoDbExtension.pdb
/DevToysMongoDbExtension/obj/Debug/net8.0/DevToysMongoDbExtension.pdb
/DevToysMongoDbExtension/bin/Debug/net8.0/DevToysMongoDbExtension.runtimeconfig.json
/.idea/.idea.DevToysMongoDbExtension/.idea/encodings.xml
/.idea/.idea.DevToysMongoDbExtension/.idea/indexLayout.xml
/DevToysMongoDbExtension/obj/project.assets.json
/DevToysMongoDbExtension/obj/project.nuget.cache
/DevToysMongoDbExtension/obj/project.packagespec.json
/DevToysMongoDbExtension/obj/rider.project.model.nuget.info
/DevToysMongoDbExtension/obj/rider.project.restore.info
/.idea/.idea.DevToysMongoDbExtension/.idea/vcs.xml
